#d1, #d2, #d3, #pa1{
    color: aqua;
    border: 10px dotted #000;
    padding: 50px;
    background-image: url("../img/roda-com-engrenagens.png");
    text-indent: 150px;
}

#d1{
    background-clip: border-box;
}

#d2{
    background-clip: padding-box;
}

#d3{
    background-clip: content-box;
}

#pa1{
    background-clip: padding-box;
}